<% content_for :title, "mMarket" %>


<div class='banner'>
  <div id="carouselExampleIndicators" class="carousel slide banner" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/banner.png" alt="First slide" style="height: 186px">
      </div>
      <div class="carousel-item">
        <img style="height: 186px" class="d-block w-100" src="https://drive.google.com/uc?export=view&id=1_ERyjCkC_jnCRox54ltPrmrJxFbdBDgu&export=download" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img style="height: 186px" class="d-block w-100" src="https://drive.google.com/uc?export=view&id=1obEjRmBq_arXSa_bS8WI9Tdet7S8K4M7&export=download" alt="Third slide">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<%= render partial: 'layouts/search' %>

<div class="section-products margin-top-30">
  <div class="mark-top">
    <div class="mark-icon blue-bg">
      <span>New</span>
    </div>
  </div>
  <div class="products">
    <div class="row ps-2 pe-2">
      <% cache @new_products do  %>
      <% @new_products.first.each do |product| %>
        <div class='col-6'>
          <%= render partial: 'shopping/product', locals: {product: product} %>
        </div>
      <% end %>
      <% end %>
      <%# cache @new_products do  %>
      <% @new_products.last.each do |product| %>
        <div class='col-6 mt-3 hide-prod-item d-none'>
          <%= render partial: 'shopping/product', locals: {product: product} %>
        </div>
      <%# end %>
      <% end %>
    </div>
  </div>
  <div class="more mt-3">
    <span class="show-more-btn">More</span>
  </div>
</div>


<div class="section-products margin-top-40">
  <div class="mark-top">
    <div class="mark-icon red-bg">
      <span>Sale</span>
    </div>
  </div>
  <div class="products">
    <div class="row ps-2 pe-2">
      <% @sale_products.first.each do |product| %>
        <div class='col-6'>
          <%= render partial: 'shopping/product', locals: {product: product} %>
        </div>
      <% end %>
      <% @sale_products.last.each do |product| %>
        <div class='col-6 mt-3 hide-prod-item d-none'>
          <%= render partial: 'shopping/product', locals: {product: product} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="more mt-3">
    <span class="show-more-btn">More</span>
  </div>
</div>


<div class="section-products bg-white mt-5 pt-5 py-4 position-relative">
  <div class="position-absolute w-auto px-5 py-2 text-white font-weight-bold " style="background:#1C75A1;bottom: 100%; left: 50%; transform: translate(-50%,50%); border-radius: 10px; font-size: 16px">
    Best Buy
  </div>
  <div class="col-12 position-relative carousel-padding">
    <div id="carouselExampleIndicators2" class="carousel slide banner" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <% @best_buy_product.each do |prod| %>
          <div class="carousel-item <%= 'active' if prod == @best_buy_product.first %>">
            <%= render partial: 'shopping/product', locals: {product: prod} %>
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="section-products margin-top-40 position-relative pb-4">
  <div class="position-absolute w-auto px-5 py-2 text-white font-weight-bold " style="background:#F6C358;bottom: 100%; left: 30px; transform: translate(0%,50%); border-radius: 10px; font-size: 16px">
    Just For You
  </div>
  <div class="col-12 pt-5">
  </div>
  <div class="products">
    <div class="row ps-2 pe-2">
      <% @sale_products.first.each do |product| %>
        <div class='col-6'>
          <%= render partial: 'shopping/product', locals: {product: product} %>
        </div>
      <% end %>
      <% @sale_products.last.each do |product| %>
        <div class='col-6 mt-3 hide-prod-item d-none'>
          <%= render partial: 'shopping/product', locals: {product: product} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="more mt-3">
    <span class="show-more-btn">More</span>
  </div>
</div>


<script>
  $('.show-more-btn').on('click',function (){
    if ($(this).text() == 'Less') {
      $(this).parents('.section-products').find('.hide-prod-item').addClass('d-none');
      $(this).text('More');
    } else {
      $(this).parents('.section-products').find('.hide-prod-item').removeClass('d-none');
      $(this).text('Less');
    }
  });
</script>