<% content_for :title, "Store" %>

<div class="store-top-layout p-3">
    <div class="info-store">
        <div class="logo-store">
          <% if @product.present? %>
            <img src="<%= @product.logo_img %>" alt="" style="width: 50px">
          <% else %>
            <img src="/assets/motorist" alt="">
          <% end %>
        </div>
        <div class="title-store pl-2 pr-2">
            <p class="name-store mt-0 mb-0" style="padding-left: 5px"><%= @product.present? ? @product.vehicle_make : "Motorist" %></p>
            <div class="quality-store">
                <div class="quality-icon">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 8C16 9.5913 15.3679 11.1174 14.2426 12.2426C13.1174 13.3679 11.5913 14 10 14C8.4087 14 6.88258 13.3679 5.75736 12.2426C4.63214 11.1174 4 9.5913 4 8C4 6.4087 4.63214 4.88258 5.75736 3.75736C6.88258 2.63214 8.4087 2 10 2C11.5913 2 13.1174 2.63214 14.2426 3.75736C15.3679 4.88258 16 6.4087 16 8ZM9.847 5.102L9.13 6.655C9.11743 6.68205 9.09815 6.70543 9.074 6.72293C9.04984 6.74044 9.02162 6.75147 8.992 6.755L7.294 6.957C7.26079 6.96085 7.22937 6.97414 7.20348 6.99528C7.17758 7.01643 7.15828 7.04455 7.14787 7.07632C7.13745 7.10809 7.13635 7.14218 7.14471 7.17456C7.15306 7.20693 7.17051 7.23623 7.195 7.259L8.451 8.42C8.47307 8.44034 8.48954 8.46602 8.49882 8.49457C8.5081 8.52311 8.50989 8.55357 8.504 8.583L8.17 10.26C8.14 10.407 8.296 10.52 8.427 10.447L9.919 9.612C9.94512 9.59737 9.97456 9.58969 10.0045 9.58969C10.0344 9.58969 10.0639 9.59737 10.09 9.612L11.582 10.447C11.712 10.52 11.869 10.407 11.84 10.26L11.506 8.583C11.5001 8.55357 11.5019 8.52311 11.5112 8.49457C11.5205 8.46602 11.5369 8.44034 11.559 8.42L12.815 7.259C12.8395 7.23623 12.8569 7.20693 12.8653 7.17456C12.8736 7.14218 12.8725 7.10809 12.8621 7.07632C12.8517 7.04455 12.8324 7.01643 12.8065 6.99528C12.7806 6.97414 12.7492 6.96085 12.716 6.957L11.018 6.755C10.9884 6.75147 10.9602 6.74044 10.936 6.72293C10.9119 6.70543 10.8926 6.68205 10.88 6.655L10.163 5.102C10.1489 5.07187 10.1265 5.04638 10.0984 5.02852C10.0704 5.01066 10.0378 5.00118 10.0045 5.00118C9.97123 5.00118 9.93865 5.01066 9.91058 5.02852C9.8825 5.04638 9.8601 5.07187 9.846 5.102H9.847Z" fill="#27A2DB"/>
                    <path d="M10 15.0001C11.4305 15.0023 12.8271 14.5641 14 13.7451V17.5001C13.9999 17.5919 13.9746 17.6819 13.9268 17.7602C13.879 17.8386 13.8106 17.9023 13.729 17.9443C13.6474 17.9863 13.5558 18.0051 13.4643 17.9985C13.3727 17.992 13.2848 17.9603 13.21 17.9071L10 16.0001L6.79 17.9071C6.71524 17.9603 6.62726 17.992 6.53572 17.9985C6.44418 18.0051 6.35259 17.9863 6.27101 17.9443C6.18942 17.9023 6.12098 17.8386 6.07317 17.7602C6.02537 17.6819 6.00006 17.5919 6 17.5001V13.7451C7.17289 14.5641 8.56945 15.0023 10 15.0001Z" fill="#27A2DB"/>
                  </svg>
                </div>
                <span>Official Store</span>
            </div>
        </div>
      <% if !@check %>
        <div class="action-store">
          <div class="follow-store">Follow</div>
        </div>
      <% end %>
    </div>

    <div class="reviews-store mt-4">
        <div class="review-store">
            <div class="number">95%</div>
            <div class="info">Positive reviews</div>
        </div>
        <div class="review-store">
            <div class="number">100k</div>
            <div class="info">Followers</div>
        </div>
    </div>
    <div class="tabs-store mt-4">
       <div data-tab='0' class="active">Home</div>
       <div data-tab='1'>New</div>
       <div data-tab='2'>Sale</div>
       <div data-tab='3'>Reviews</div>
    </div>
</div>

<div class="content-store">
    <div class="tab-content pb-3 active" data-tab='0'>
        <div class="top-absolute-action">About us</div>
        <div class="p-3">
            <p class="main-description p-2">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio architecto, veritatis quos debitis eum explicabo id praesentium consequatur esse deleniti quasi eligendi nobis ipsa quis voluptates labore. Dolorem, nesciunt tenetur?
    
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore itaque doloremque exercitationem repellat non molestiae dolor accusantium esse. Modi similique veritatis consequuntur quo iste quibusdam cum itaque doloribus in qui?
            </p>
            <div class="address-store p-2">
                <p class="title">Get Touch With Us</p>
                <div class="address">
                    <div class="quality-icon">
                        <img src="/assets/address_icon" alt="">
                    </div>
                    <span>12 Tai Seng Link #06-02 Singapore 534233</span>
                </div>
                <div class="address mt-2">
                    <div class="quality-icon">
                        <img src="/assets/phone_icon" alt="">
                    </div>
                    <span>+65 6589 8800</span>
                </div>
                <div class="address mt-2">
                    <div class="quality-icon">
                        <img src="/assets/email_icon" alt="">
                    </div>
                    <span>enquiry@motorist.sg</span>
                </div>
            </div>
        </div>
        <div class="map-store mt-4">
            <img src="/assets/store_map" alt="">
        </div>
    </div>
    <div class="tab-content bg" data-tab='1'>
        <%= render partial: 'layouts/search' %>


        <div class="section-products row bg-white margin-top-20 py-4 position-relative ps-2 pe-2">
          <%# cache @new_products do %>
          <% @new_products.each do |product| %>
            <div class="col-6 pb-4">
                <%= render partial: 'shopping/product', locals: {product: product} %>
            </div>
          <%# end %>
          <% end %>
        </div>
    </div>
    <div class="tab-content bg" data-tab='2'>
        <%= render partial: 'layouts/search' %>

        <div class="section-products row bg-white margin-top-20 py-4 position-relative ps-2 pe-2">
          <%# cache @new_products do %>
          <% @sale_products.each do |product| %>
            <div class="col-6 pb-4">
                <%= render partial: 'shopping/product', locals: {product: product} %>
            </div>
          <% end %>
          <%# end %>
        </div>
    </div>
    <div class="tab-content" data-tab='3'>
        <div class="summary-reviews pt-3">
            <p>4.5 / 5.0</p>
            <span></span>
            <div class="star-reviews">
               <div class="content-start-reviews">
                    <div class="row-stars">
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="person"><span>999+</span></div>
                    </div>
                    <div class="row-stars">
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="person"><span>809</span></div>
                    </div>
                    <div class="row-stars">
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="person"><span>423</span></div>
                    </div>
                    <div class="row-stars">
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="person"><span>184</span></div>
                    </div>
                    <div class="row-stars">
                        <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="person"><span>617</span></div>
                    </div>
                    <div class="row-stars">
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        <div class="person"><span>0</span></div>
                    </div>
               </div>
            </div>
        </div>
        <div class="list-comments mt-2">
            <div class="comment">
                <div class="reviewer p-2">
                    <div class="avatar">
                        <img src="/assets/man_avatar" alt="">
                    </div>
                    <div class="reviewer-info">
                        <p class="m-0">Jack</p>
                        <div class="row-stars">
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        </div>
                    </div>
                </div>
                <p class="content-message">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat dicta voluptates numquam totam placeat veniam molestias omnis, optio quam, perferendis vitae error iste hic vel qui velit ratione dolores? Alias?
                </p>
            </div>
            <div class="comment">
                <div class="reviewer p-2">
                    <div class="avatar">
                        <img src="/assets/man_avatar" alt="">
                    </div>
                    <div class="reviewer-info">
                        <p class="m-0">Peter</p>
                        <div class="row-stars">
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        </div>
                    </div>
                </div>
                <p class="content-message">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat dicta voluptates numquam totam placeat veniam molestias omnis, optio quam, perferendis vitae error iste hic vel qui velit ratione dolores? Alias?
                </p>
            </div>
            <div class="comment">
                <div class="reviewer p-2">
                    <div class="avatar">
                        <img src="/assets/man_avatar" alt="">
                    </div>
                    <div class="reviewer-info">
                        <p class="m-0">Damian</p>
                        <div class="row-stars">
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star_selected" alt="" srcset=""></div>
                            <div class="star"><img src="/assets/star" alt="" srcset=""></div>
                        </div>
                    </div>
                </div>
                <p class="content-message">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat dicta voluptates numquam totam placeat veniam molestias omnis, optio quam, perferendis vitae error iste hic vel qui velit ratione dolores? Alias?
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    $('.tabs-store > div').on('click', function() {
        const tab_idx = $(this).data('tab');
        const all_tabs = $('.tabs-store > div');
        const content_tabs = $('.content-store > div.tab-content');
        $.each(all_tabs, function(idx, tab) {
            if (idx != tab_idx) {
                $(tab).removeClass('active');
                $(content_tabs[idx]).removeClass('active');
            } else {
                $(tab).addClass('active');
                $(content_tabs[idx]).addClass('active');
            }
        });
    });
</script>