<!DOCTYPE html >
<html>
  <head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application'%>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'global'%>
  </head>

  <body>
    <section class='wrapper' style="width: 100%; overflow-x: hidden">
      <%= yield %>
    </section>

    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
